<header class="main-page-header">
 
<%# <div class="header-list"> %>
  <div class="header-left">
  <a heaf="/" class="logo">魚辞苑 </a>
  </div>
  <div class="center-header">
    <ul class="header-list-fish-chath", id="header-fish-catch">釣  果</ul>
      <ul class="fish-chach-pulldown hidden", id="fish-catch-pulldown">
        <li class="fish-catch-list">釣果投稿する</li>
        <li class="fish-catch-list">投稿一覧</li>
      </ul>
    <ul  class="header-list-recipe", id="header-resipe">レシピ</ul>
      <ul class="recipe-pulldown hidden", id="recipe-pulldown">
        <li class="recipe-list">投稿する</li>
        <li class="recipe=list">レシピ一覧</li>
      </ul>
    <ul class="header-list-coliumn", id="header-colium">コラム</ul>
  <% if user_signed_in? %>
    <ul class="user-name", id="header-user-name"><%= link_to 'ユーザー名',"#", class: "session"%><ul>
      <ul class="user-name-pulldown hidden", id="user-pulldown">
        <li class="user-name-list"><%= link_to'マイページ',mypage_path(:user_id), class:"session"%></li>
        <li class="user-name-list">投稿一覧</li>
        <li class="user-name-list"><%= link_to'ログアウト',destroy_user_session_path, method: :delete, class:"session"%></li>
      </ul>
  <%else%>
    <ul  class="rogin"><%= link_to 'ログイン',user_session_path, class: "session" %></ul>
    <ul  class="sign-in"><%= link_to '新規登録',new_user_registration_path,  class: "session" %></ul>
  <% end %>
  </div>


  
</header>