<%= render "shared/header"%>

<div class="sign-up-main">
  <div class="form-box">
    <h2 class="sign-up-title">新規登録</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
          <div class="sign-up-box">
            <div class="field">
              <h3 class="form-title">アイコン</h3>
              <%= f.file_field :image, id:"icon-image" %>
            </div>
            <div class="field">
              <h3 class="form-title">ニックネーム</h3>
            <%= f.text_area :nickname, placeholder:"ニックネーム", maxlength:"15" %>
            </div>
            <%# <div class="field">
              <%= f.collection_select(:location_id, Location.all, :id, :name, {}, {class:"location-select"}) %>
            <%# </div>  %>
            <div class="field">
              <h3 class="form-title">メールアドレス</h3>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

            <div class="field">
              <h3 class="form-title">パスワード</h3>
              <% if @minimum_password_length %>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
              <h3 class="form-title">パスワード（確認用）</h3>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="field">
              <h3 class="form-title">苗字</h3>
            <%= f.text_area :first_name, placeholder:"苗字", maxlength:"10" %>
          </div>
          <div class="field">
              <h3 class="form-title">名前</h3>
            <%= f.text_area :last_name, placeholder:"名前", maxlength:"10" %>
          </div>
          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        </div>
      <% end %>
  </div>
  <%# <%= render "users/shared/links" %> 
</div>